# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env/
psutil_build/

# IDEs
.ipynb_checkpoints
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Docker
docker/volumes/
postgres_data/
minio_data/
airflow_logs/
airflow_plugins/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/dbt_modules/
dbt_project/logs/

# Airflow
airflow/logs/
airflow/airflow.db

# Project Specific
.env
.env.local
.env.*.local
data/exports/*.csv
!data/exports/.gitkeep
data/exports/*.json
!data/exports/.gitkeep

# System/OS
.DS_Store
Thumbs.db
desktop.ini
